model_type: diff
model_name: latent_diffusion

ae_pretrained_weight: ${ae.pretrained_weight}

unet:
  # d_x: ${add:1,${ae.feat_dim}} # contact (1) + latent feat (${ae.feat_dim})
  d_x: ${ae.feat_dim} # latent feat (${ae.feat_dim})
  d_model: 512
  time_embed_mult: 2
  nblocks: 4
  resblock_dropout: 0.0
  transformer_num_heads: 8
  transformer_dim_head: 64
  transformer_dropout: 0.1
  transformer_depth: 1
  transformer_mult_ff: 2
  context_dim: 512
  use_position_embedding: false # for input x
  obj_feat_dim: ${add:1024,${generator.unet.context_dim}}  # pointfeat(1024) + obj_feat(${ae.obj_feat_dim})
  obj_encoder:
    in_dim: ${add:3,${ae.obj_feat_dim}}
    hidden_dim: 256
    feat_dim: ${generator.unet.context_dim}

# Shared diffusion configuration
diffusion:
  timesteps: 1000
  rand_t_type: 'half'  # 'half' or 'all'
  schedule_cfg:
    beta:
      - 0.0001
      - 0.01
    beta_schedule: 'linear'
    s: 0.008

# DDPM-specific configuration
ddpm:
  steps: ${generator.diffusion.timesteps}
  schedule_cfg: ${generator.diffusion.schedule_cfg}
  rand_t_type: ${generator.diffusion.rand_t_type}
  loss_type: 'l2'  # 'l1' or 'l2'

# MDM GaussianDiffusion-specific configuration
mdm:
  timesteps: ${generator.diffusion.timesteps}
  schedule_cfg: ${generator.diffusion.schedule_cfg}
  rand_t_type: ${generator.diffusion.rand_t_type}
  model_mean_type: 'EPSILON'  # 'PREVIOUS_X', 'START_X', 'EPSILON'
  model_var_type: 'FIXED_SMALL'  # 'LEARNED', 'FIXED_SMALL', 'FIXED_LARGE', 'LEARNED_RANGE'
  rescale_timesteps: false