model_type: mdm
model_name: latent_diffusion_mdm_style

ae_pretrained_weight: ${ae.pretrained_weight}

unet:
  # d_x: ${add:1,${ae.feat_dim}} # contact (1) + latent feat (${ae.feat_dim})
  d_x: ${ae.feat_dim} # latent feat (${ae.feat_dim})
  d_model: 512
  time_embed_mult: 2
  nblocks: 4
  resblock_dropout: 0.0
  transformer_num_heads: 8
  transformer_dim_head: 64
  transformer_dropout: 0.1
  transformer_depth: 1
  transformer_mult_ff: 2
  context_dim: 512
  use_position_embedding: false # for input x
  obj_feat_dim: ${add:1024,${generator.unet.context_dim}}  # pointfeat(1024) + obj_feat(${ae.obj_feat_dim})
  obj_encoder:
    in_dim: ${add:3,${ae.obj_feat_dim}}
    hidden_dim: 256
    feat_dim: ${generator.unet.context_dim}

scheduler:
  scale_beta: 1.0
  steps: 1000
  beta_range: 
    - 0.0001
    - 0.01
  beta_schedule: 'linear'
  model_mean_type: 'START_X' # 'PREV_X', 'START_X', 'EPSILON'
  model_var_type: 'FIXED_SMALL' # 'FIXED_LARGE', 'FIX
  s: 0.008

  rand_t_type: 'half' # 'half' or 'all'
  loss_type: 'l2' # 'l1' or 'l2'