defaults:
  - msdf: base
  - data: grab_local_grid
  - ae: gridae_128latent
  - _self_

training_stage: "ae"

debug: true

train:
  lr: 0.001
  batch_size: 128
  loss_weights:
    w_contact: 1.0
    w_cse: 0.5
    w_kl: 0.001
    w_rec: 1.0
  rec_loss_start_epoch: 5
  vis_every_n_batches: 500

val:
  batch_size: 128
  vis_every_n_batches: 500

test:
  n_processes: 16
  n_samples: 64
  batch_size: ${test.n_samples}

trainer: ## For instantiating pytorch-lightning Trainer
  max_epochs: 10
  check_val_every_n_epoch: 1
  log_every_n_steps: 100
  accelerator: gpu
  devices: [0]
  precision: 32
  # enable_progress_bar: true
  enable_model_summary: true
  strategy: ddp_find_unused_parameters_true

run_phase: train
ckpt_path: logs/wandb_logs/LG3DContact/GRIDAE-${ae.obj_feat_dim}v1/checkpoints/last.ckpt

hydra:
  job:
    chdir: false
  run:
    dir: .
  output_subdir: null
  job_logging:
    disable_existing_loggers: false
  hydra_logging:
    disable_existing_loggers: false