defaults:
  - _self_
  - msdf: sparse
  - data: grab_multi_contact
  - ae: gridae_256latent_v2
  - hand_ae: handvae_16latent
  - generator: dual_ldm
  - pose_optimizer: hybrid

training_stage: "generator"
contact_unit: "grid"

train:
  optimizer: "adamw"
  lr: 1e-4
  batch_size: 32
  vis_every_n_batches: 500
  augment: true
  loss_weights:
    latent_mse: 1.0
    difference_loss: 0.1
    hand_recon_loss: 0.1
    stable_loss: 0
    # contact_loss: 1.0
    # cse_value_loss: 1.0
    # consistency_contact_loss: 5.0
    # consistency_cse_loss: 1.0
  
  resume_ckpt: # logs/checkpoints/mlcdiff/with_hand_guide/newae_v2/last.ckpt

val:
  batch_size: 32
  vis_every_n_batches: 50

checkpoint:
  filename: best
  save_top_k: 3

test:
  n_processes: 20
  n_samples: 20
  batch_size: ${test.n_samples}
  base_criteria:
    - "Simulation Displacement"
    - "Penetration Depth"
    - "Intersection Volume"
    - "Contact Ratio"
    - "Cluster Size"
    - "Entropy"
  criteria: ${test.base_criteria}

trainer: ## For instantiating pytorch-lightning Trainer
  max_epochs: 100
  check_val_every_n_epoch: 1
  log_every_n_steps: 50
  accelerator: gpu
  devices: 2
  precision: 32
  enable_progress_bar: false
  enable_model_summary: true
  # gradient_clip_val: 1.0
  # profiler: simple
  # limit_train_batches: 10
  # limit_val_batches: 10

physics:
  k: 0.2
  mu: 0.8
  pene_th: 1e-3 # 1mm
  eps: 1e-3 

run_phase: train
test_gt: false
ckpt_path: ${generator.checkpoint_path}
optimizer: adamw

debug: true

hydra:
  job:
    chdir: false
  run:
    dir: .
  output_subdir: null
  job_logging:
    disable_existing_loggers: false
  hydra_logging:
    disable_existing_loggers: false