defaults:
  - _self_
  - msdf: sparse
  - data: grab_multi_contact
  - ae: gridae_128latent
  - generator: ldm
  - pose_optimizer: lg_base

training_stage: "generator"
contact_unit: "grid"

train:
  lr: 1e-4
  batch_size: 16
  vis_every_n_batches: 500
  loss_weights:
    # contact_loss: 1.0
    # cse_value_loss: 1.0
    latent_mse: 1.0
    reach_contact_loss: 1.0
    reach_cse_value_loss: 0.1

val:
  batch_size: 16
  vis_every_n_batches: 200

checkpoint:
  filename: best
  save_top_k: 3

test:
  n_processes: 20
  n_samples: 10
  batch_size: ${test.n_samples}
  base_criteria:
    - "Simulation Displacement"
    - "Penetration Depth"
    - "Intersection Volume"
    - "Contact Ratio"
    - "Cluster Size"
    - "Entropy"
  criteria: ${test.base_criteria}

trainer: ## For instantiating pytorch-lightning Trainer
  max_epochs: 100
  check_val_every_n_epoch: 1
  log_every_n_steps: 50
  accelerator: gpu
  devices: 2
  precision: 32
  enable_progress_bar: true
  enable_model_summary: true
  # profiler: simple
  # limit_train_batches: 10
  # limit_val_batches: 10

run_phase: train
test_gt: false
ckpt_path: logs/checkpoints/mlcdiff/eps_model/best-epoch=63-val/total_loss=0.0244.ckpt

debug: true

hydra:
  job:
    chdir: false
  run:
    dir: .
  output_subdir: null
  job_logging:
    disable_existing_loggers: false
  hydra_logging:
    disable_existing_loggers: false