defaults:
  - msdf: base
  - data: grab
  - ae: gridae_128latent
  - generator: point_vae
  - pose_optimizer: base
  - _self_

training_stage: "generator"

train:
  lr: 0.0001
  batch_size: 32
  loss_weights:
    w_contact: 1.0
    w_cse: 0.5
    w_kl: 0.001
    w_rec: 1.0

val:
  batch_size: 32
  vis_every_n_batches: 500

test:
  n_processes: 16
  n_samples: 20
  batch_size: ${test.n_samples}

trainer: ## For instantiating pytorch-lightning Trainer
  max_epochs: 100
  check_val_every_n_epoch: 2
  log_every_n_steps: 100
  accelerator: gpu
  devices: 1
  precision: 32
  enable_progress_bar: true
  enable_model_summary: true

run_phase: val

debug: true

hydra:
  job:
    chdir: false
  run:
    dir: .
  output_subdir: null
  job_logging:
    disable_existing_loggers: false
  hydra_logging:
    disable_existing_loggers: false