defaults:
  - msdf: base
  - data: grab
  - pose_optimizer: base
  - _self_

training_stage: "generator"

model:
  n_comps: 26

train:
  batch_size: 4

val:
  batch_size: 4

test:
  n_processes: 16
  n_samples: 4
  batch_size: ${test.n_samples}

trainer: ## For instantiating pytorch-lightning Trainer
  max_epochs: 300
  check_val_every_n_epoch: 5
  log_every_n_steps: 100
  accelerator: gpu
  devices: 1
  precision: 16
  enable_progress_bar: true
  enable_model_summary: true


hydra:
  job:
    chdir: false
  run:
    dir: .
  output_subdir: null
  job_logging:
    disable_existing_loggers: false
  hydra_logging:
    disable_existing_loggers: false