defaults:
  - _self_
  - data: grab_single_contact
  - generator: cat_vae_part
  - pose_optimizer: base

training_stage: "generator"
contact_unit: "point"

train:
  batch_size: 64
  optimizer: "Adam"
  lr: 1.0e-3
  lr_gamma: 0.8
  scheduler_step: 5
  vis_every_n_batch: 500
  resume_ckpt: "logs/wandb_logs/LG3DContact/SingleContact_epoch9/checkpoints/epoch=9-step=25290.ckpt"

val:
  batch_size: 64
  vis_every_n_batch: 200

test:
  n_processes: 16
  n_samples: 20
  batch_size: ${test.n_samples}
  base_criteria:
    - "Simulation Displacement"
    - "Penetration Depth"
    - "Intersection Volume"
    - "Contact Ratio"
    - "Cluster Size"
    - "Entropy"
  criteria: ${test.base_criteria}

trainer: ## For instantiating pytorch-lightning Trainer
  max_epochs: 100
  check_val_every_n_epoch: 2
  log_every_n_steps: 50
  accelerator: gpu
  devices: 2
  precision: 32
  enable_progress_bar: true
  enable_model_summary: true

run_phase: test
ckpt_path: /home/zxc417/Projects/HandSyn/multi_contact/logs/wandb_logs/LG3DContact/fmi21hvu/checkpoints/epoch43_weightonly.ckpt

debug: true

hydra:
  job:
    chdir: false
  run:
    dir: .
  output_subdir: null
  job_logging:
    disable_existing_loggers: false
  hydra_logging:
    disable_existing_loggers: false